*{
    margin: 0;
    padding: 0;
}
body{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    position: relative;
    padding-top: 100px;
}
#face{
    position: absolute;
    left: 50px;
    display: flex;
    z-index: 3;
    width: 200px;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    padding-top: 20px;
    border-radius: 15px 15px 5px 5px;
    -webkit-border-radius: 15px 15px 5px 5px;
    -moz-border-radius: 15px 15px 5px 5px;
    -ms-border-radius: 15px 15px 5px 5px;
    -o-border-radius: 15px 15px 5px 5px;
    #eyes{ 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: white;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        align-self: flex-start;
        animation-name:white-eyes;
        animation-delay:1200ms;
        animation-duration:1s;
        animation-timing-function:linear;
        // animation-fill-mode: forwards;
        div{
            width: 35px;
            height: 35px;
            background-color: black;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            animation-name:black-eyes;
            animation-duration:4s;
            animation-timing-function:linear;
            animation-fill-mode: forwards;
        }
    }
    #yanaq{
        width: 15px;
        height: 10px;
        background-color: palevioletred;
        border-radius:50%;
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        -ms-border-radius:50%;
        -o-border-radius:50%;
}
    #mouth{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 15px;
        height: 8px;
        background-color: black;
        border-radius: 5px 5px 70% 70%;
        -webkit-border-radius: 5px 5px 70% 70%;
        -moz-border-radius: 5px 5px 70% 70%;
        -ms-border-radius: 5px 5px 70% 70%;
        -o-border-radius: 5px 5px 70% 70%;
        div{
            width: 8px;
            height: 4px;
            background-color: palevioletred;
            border-radius: 5px 5px 70% 70%;
            margin-bottom: 2px;
        }
}
}
#back{
    position: absolute;
    width: 200px;
    height: 120px;
    z-index: 2;
    background-color: rgb(56, 109, 91);
    border-radius: 15px 15px 5px 5px;
    div{
        position: relative;
    div:nth-child(1){
        position: absolute;
        margin-top: 20px;
        margin-left: 10px;
        height: 80px;
        width: 10px;
        background-color: black;
        border-radius: 10px 10px;
        -webkit-border-radius: 10px 10px;
        -moz-border-radius: 10px 10px;
        -ms-border-radius: 10px 10px;
        -o-border-radius: 10px 10px;
}
div:nth-child(2){
    position: absolute;
    left: -20px;
    top: 70px;
    width: 50px;
    height: 10px;
    box-shadow: 10px 0px 0px black;
    background-color: gray;
    border-radius: 10px 10px;
    animation-name: qulp;
    animation-duration:700ms;
    animation-delay: 1500ms;
    animation-fill-mode: forwards;
}
}
}
#feet{
    position: absolute;
    top: 220px;
    display: flex;
    width: 250px;
    justify-content: space-evenly;
    div{
        width: 50px;
        height: 15px;
        background-color: black;
        border-start-end-radius: 80px 50px;
        border-radius: 0px 0px 20px 20px;
        -webkit-border-radius: 0px 0px 20px 20px;
        -moz-border-radius: 0px 0px 20px 20px;
        -ms-border-radius: 0px 0px 20px 20px;
        -o-border-radius: 0px 0px 20px 20px;
        
}
}
#bread{
    position: absolute;
    left: 60px;
    top: 80px;
    width: 150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    animation-name: bread;
    animation-duration:1500ms;
    animation-delay:2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    #head{
        width: 150px;
        height: 30px;
        background-color: orange;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        border: 5px solid brown;
        box-shadow: -15px 0px 0px rgb(129, 67, 8);
        
}
    #main{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 35px;
        width: 120px;
        height: 80px;
        background-color: orange;
        border-bottom: 5px solid brown;
        border-right: 5px solid brown;
        border-left: 5px solid brown;
        box-shadow: -15px 0px 0px rgb(129, 67, 8);
        div:nth-child(1){
            display: flex;
            width: 90%;
            justify-content: space-around;
            margin-bottom: 2px;
            div{
                width: 10px;
                height: 5px;
                background-color: black;
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -ms-border-radius: 3px;
                -o-border-radius: 3px;
}
        }
        div:nth-child(2){
            display: flex;
            width: 100%;
            justify-content: center;
        }
        #eyes{ 
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            background-color: white;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            div{
                width: 20px;
                height: 20px;
                background-color: black;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                animation-name: bread-black-eyes;
                animation-duration:1s;
                animation-delay:3s;
                animation-fill-mode: forwards;
            }
        }
        #mouth{
            align-self: flex-end;
            width: 15px;
            height: 5px;
            background-color: black;
            border-radius: 3px 3px 70% 70%;
            -webkit-border-radius: 3px 3px 70% 70%;
            -moz-border-radius: 3px 3px 70% 70%;
            -ms-border-radius: 3px 3px 70% 70%;
            -o-border-radius: 3px 3px 70% 70%;
        }
    }
}
@keyframes black-eyes {
    0%{
        transform: translateX(7px);
        -webkit-transform: translateX(7px);
        -moz-transform: translateX(7px);
        -ms-transform: translateX(7px);
        -o-transform: translateX(7px);
}
    10%{
        transform: translateX(-7px);
        -webkit-transform: translateX(-7px);
        -moz-transform: translateX(-7px);
        -ms-transform: translateX(-7px);
        -o-transform: translateX(-7px);
}
    15%{
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
}
    100%{
        transform: translateY(-7px);
        -webkit-transform: translateY(-7px);
        -moz-transform: translateY(-7px);
        -ms-transform: translateY(-7px);
        -o-transform: translateY(-7px);
}
}
@keyframes white-eyes {
    0%{
        height: 50px;
    }
    25%{
        //height: 35px;
        transform: scaleY(0.7);
        -webkit-transform: scaleY(0.7);
        -moz-transform: scaleY(0.7);
        -ms-transform: scaleY(0.7);
        -o-transform: scaleY(0.7);
}
    50%{
        //height: 35px;
        transform: scaleY(0.7);
        -webkit-transform: scaleY(0.7);
        -moz-transform: scaleY(0.7);
        -ms-transform: scaleY(0.7);
        -o-transform: scaleY(0.7);
}
    75%{
        //height: 35px;
        transform: scaleY(0.7);
        -webkit-transform: scaleY(0.7);
        -moz-transform: scaleY(0.7);
        -ms-transform: scaleY(0.7);
        -o-transform: scaleY(0.7);
}
    90%{
        //height: 35px;
        transform: scaleY(0.7);
        -webkit-transform: scaleY(0.7);
        -moz-transform: scaleY(0.7);
        -ms-transform: scaleY(0.7);
        -o-transform: scaleY(0.7);
}
    100%{
        // height: 50px;
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
}
}
@keyframes bread{
    0%{
        top: 80px;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
    30%{
        top: -40px;
        transform: scaleY(1.2);
        -webkit-transform: scaleY(1.2);
        -moz-transform: scaleY(1.2);
        -ms-transform: scaleY(1.2);
        -o-transform: scaleY(1.2);
    }
    100%{
        top: 0px;
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
}
}
@keyframes qulp {
    from{
        top: 70px;
    }
    50%{
        transform-origin: top top;
        transform: scaleY(3);
        -webkit-transform: scaleY(3);
        -moz-transform: scaleY(3);
        -ms-transform: scaleY(3);
        -o-transform: scaleY(3);
        top: 40px;
    }
    to{
        top: 40px;
        transform-origin: top;
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
}
}
@keyframes bread-black-eyes {
    to{
        transform: translateY(7px);
        -webkit-transform: translateY(7px);
        -moz-transform: translateY(7px);
        -ms-transform: translateY(7px);
        -o-transform: translateY(7px);
}
}
#back , #face {
    animation-name:face-back ;
    animation-duration:1s;
    animation-timing-function: linear;
    animation-delay: 1200ms;
}
@keyframes face-back {
    to{
        top: 80px;
    }
}
#feet{
    animation-name: feet;
    animation-duration:600ms;
    animation-timing-function: step-start;
    animation-delay:1650ms;
}
@keyframes feet {
    to{
        top:200px;
    }
}